<div class="footer-main">
    <div class="container">
        <div class="footer-content">
            <div class="footer-first">
                <h3>شبكة كارت فكة</h3>
            </div>
            <div class="footer-end">
                <script>document.write(unescape('%3Ca%20href%3D%22https%3A//www.ashwab.com%22%20target%3D%22_blank%22%3E%u0628%u0631%u0645%u062C%u0629%20%u0648%u062A%u0637%u0648%u064A%u0631%20%u0639%u0635%u0627%u0645%20%u0628%u0631%u063A%u0634%3C/a%3E'));</script>        
            </div>
        </div>
    </div>
</div>