<div class="container">
    <div class="header-content flex items-center w-full relative">
        <a href="/alogin.html" class="logo">
            <span>شبكة HA</span>
        </a>
        <div class="menu">
            <ul>
                <div class="mobile-menu-actions">
                    <a href="/alogin.html" class="logo">
                        <span>شبكة HA</span>
                    </a>
                    <button class="menu-close opacity-70" type="button" aria-expanded="false">
                        <img src="/img/mingcute--close-line.png" alt="">
                    </button>
                </div>
                <li class="menu-itme-home">
                    <a href="/alogin.html">
                        <span>الرئيسية</span>
                    </a>
                </li>
                <li class="menu-itme-pricing">
                    <a href="#pricing">
                        <span>الاسعار</span>
                    </a>
                </li>
                <li class="menu-itme-pos">
                    <a href="#pos">
                        <span>الموزعين</span>
                    </a>
                </li>
                <li class="menu-itme-new-subscription">
                    <a href="/support/subscribe.html">إشتراك جديد</a>
                </li>
                <li class="menu-itme-support">
                    <a href="/support/home.html">الدعم الفني</a>
                </li>
            </ul>
        </div>
        <div class="md:hidden">
            <button class="menu-open" type="button" aria-expanded="false">
                <img class="relative z-10" src="/img/mingcute--menu-line.png" alt="menu">
            </button>
        </div>
        <div class="header-user">
            <button class="user-dropdown-toggle relative" type="button" aria-expanded="false">
                <span class="animate-ping absolute inline-flex h-10 w-10 rounded-full bg-skin-primary opacity-90"></span>
                <img class="relative z-10" src="/img/solar--user-bold-duotone.png" alt="">
            </button>
            <div class="user-dropdown-content">
                <ul>
                    <li class="dropdown-item">
                        <span class="text-gray-500 text-sm px-5 pb-3 pt-3 flex items-center">حسابي</span>
                    </li>
                    <hr class="mb-1.5">
                    <li class="dropdown-item has-subitem">
                        <ul class="dropdown-sub">
                            <li class="dropdown-subitem almjala">
                                <a class="dropdown-subitem-link" href="http://5.5.5.5" target="_blank">
                                    <span class="dropdown-subitem-icon">
                                        <img src="/img/simple-icons--emby.png" alt="">
                                    </span>
                                    <span class="dropdown-subitem-name">المجلة</span>
                                </a>
                            </li>
                            <li class="dropdown-subitem bein">
                                <a class="dropdown-subitem-link" href="http://5.5.5.5" target="_blank">
                                    <span class="dropdown-subitem-icon">
                                        <img src="/img/noto-v1--soccer-ball.png" alt="">
                                    </span>
                                    <span class="dropdown-subitem-name">قنوات beIN Sports</span>
                                </a>
                            </li>
                            <li class="dropdown-subitem usage">
                                <a class="dropdown-subitem-link" href="http://4.4.4.4" target="_blank">
                                    <span class="dropdown-subitem-icon">
                                        <img src="/img/fluent--data-area-20-filled.png" alt="">
                                    </span>
                                    <span class="dropdown-subitem-name">متابعة الإستهلاك</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <hr class="mt-1.5">
                    <li class="dropdown-item danger logout">
                        <a class="dropdown-item-link !py-4" href="/logout.html">
                            <span class="dropdown-item-name">تسجيل الخروج</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>