@tailwind base;

@layer base {
    :root {
        --primary-color: #2871FF;
        --primary-dark-color: #1B32C8;
        --header-h: 80px;
        --normal-speed: 120ms;
    }
}

@font-face {  
    font-family: 'Noto Kufi Arabic';  
    src: url('/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Regular.ttf') format('truetype');  
    font-weight: 400; /* Regular */  
    font-style: normal;  
    font-display: swap; /* Ensures text is displayed while the font loads */  
}  
  
@font-face {  
    font-family: 'Noto Kufi Arabic';  
    src: url('/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Bold.ttf') format('truetype');  
    font-weight: 700; /* Bold */  
    font-style: normal;  
    font-display: swap;  
}  
  
@font-face {  
    font-family: 'Noto Kufi Arabic';  
    src: url('/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Medium.ttf') format('truetype');  
    font-weight: 500; /* Medium */  
    font-style: normal;  
    font-display: swap;  
  }  
  
@font-face {  
    font-family: 'Noto Kufi Arabic';  
    src: url('/fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Black.ttf') format('truetype');  
    font-weight: 900; /* Black */  
    font-style: normal;  
    font-display: swap;  
}

body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 400;
    font-size: 0;
    color: #000000;
    background-color: #f4f9ff;
}

input[type=text],
input[type=tel],
input[type=password],
input[type=email] {
    @apply block w-full border-none rounded-xl outline-none focus:outline-none
    h-16 px-5 py-4 text-base placeholder:text-sm text-black bg-white;
}

input[type=button] {
    @apply flex items-center justify-center h-16 px-8 w-auto border-none rounded-xl
    bg-skin-primary_dark hover:opacity-80 active:scale-95 text-white text-xs font-bold cursor-pointer;
    transition: var(--normal-speed) all;
}

label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}