@import './header.css';
@tailwind components;

.card {
    @apply w-full flex flex-col p-4 md:p-8 rounded-xl overflow-hidden;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-footer {
    @apply -mx-4 md:-mx-8 -mb-4 md:-mb-8 bg-white
    p-4 md:p-8 mt-auto;
}

.card.cart-login {
    color: #ffffff;
    background: rgb(252,200,110);
    background: linear-gradient(60deg, rgba(252,200,110,1) 0%, rgba(255,156,63,1) 100%);
}

.card.user-login {
    color: #ffffff;
    background: var(--primary-color);
    background: linear-gradient(60deg, var(--primary-color) 0%, var(--primary-dark-color) 100%);
}

.card-header {
    @apply flex items-center;
}

.card-title {
    @apply font-bold text-base md:text-lg;
}

.card-subtitle {
    @apply text-sm font-normal leading-loose;
}

.card-logo {
    @apply ml-3;
}

.card-logo img,
.card-logo svg {
    @apply w-14 h-14 min-w-14;
}

.card-body {
    @apply py-4 md:py-8 mt-auto;
}

.plans,
.plans-skeleton {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6
    gap-4 md:gap-8;
}

.plan,
.plan-skeleton {
    @apply block px-3 md:px-5 pb-5 pt-10 bg-white rounded-xl relative mt-10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}

.plan-heading {
    @apply flex items-center justify-center text-sm font-bold mb-5 text-center leading-relaxed;
}

.plan-badge {
    @apply  w-20 h-10 px-4 pointer-events-auto
    flex items-center justify-center rounded-full
    bg-red-500 text-white text-sm font-bold;
}

.plan-badge-animate {
    @apply animate-ping absolute inline-flex h-9 w-16 rounded-full bg-red-500 opacity-90;
}

.plan-badge-top {
    @apply flex items-center justify-center absolute right-0 left-0 -top-5 pointer-events-none w-full;
}

.plan-price {
    @apply flex items-center justify-center leading-none w-full px-3 py-4 md:px-4 rounded-full
    text-sm md:text-base font-black mb-5 text-center
    bg-skin-primary text-white;
}

.plan-features {
    @apply md:px-4;
}

.plan-features li {
    @apply flex items-center mb-3 last:mb-0;
}

.plan-features .plan-feature-icon {
    @apply w-4 h-4 ml-1.5;
}

.plan-features .plan-feature-name {
    @apply text-xs lg:font-bold text-gray-700 flex items-center justify-between gap-1 w-full;
}

.plan.type-cart .plan-price {
    @apply bg-[#ff9c3f];
}

.pos-grid,
.pos-grid-skeleton {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-8;
}

.pos,
.pos-skeleton {
    @apply flex flex-col sm:flex-row items-center sm:items-start px-4 py-4 bg-white rounded-xl relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}

.pos-logo {
    @apply sm:ml-4 min-w-[98px] mb-4 sm:mb-0 min-h-[98px] px-4 py-4 bg-skin-primary border border-gray-200 flex items-center justify-center rounded-lg;
}

.pos-name {
    @apply text-sm font-bold text-gray-800 text-center sm:text-right block;
}

.pos-address {
    @apply flex items-center justify-center sm:justify-start mt-2 mb-3 text-sm text-gray-800 font-normal;
}

.pos-address-icon {
    @apply ml-1 opacity-60 min-w-5;
}

.pos-badges {
    @apply flex items-center justify-center sm:justify-start flex-wrap gap-3;
}

.pos-badge {
    @apply inline-flex px-3 py-3 rounded-full border border-gray-200 text-xs text-gray-600 leading-none
}