@tailwind utilities;

.mine {
    min-height: 80vh;
}

.loader-progress {
    height: 2px;
    width: 100%;
    border-radius: 9999px;
    --c:no-repeat linear-gradient(var(--primary-color) 0 0);
    background: var(--c),var(--c),transparent;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    @apply mt-8;
}

.card-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cr-link {
    @apply hover:underline hover:text-skin-primary;
}